BasedOnStyle: Google
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"$'
    Priority: 1
  - Regex: '^<.*\.hpp>$'
    Priority: 2
  - Regex: '^<.*>$'
    Priority: 3
  - Regex: '.*'
    Priority: 4
IncludeIsMainRegex: '(.*\/)?main\.hpp$'

# how to use
# clang-format -i src/interfaces/cli/main.cpp
